h1 {
    font-size: 25px;
}

.date-list {
    list-style: none;
    white-space: nowrap;
    display: flex;

    padding: 0;
    overflow-x: auto;
    
    scrollbar-width: none;

    flex-direction: row;
    gap: 10px;
}

.date-list-block {
    border: 1px solid ;
    padding: 10px 8px;

    border-radius: 10px;
}